h1 {
    margin: 0;
}

.name {
    font-size: 0.9rem;
}

    .name .firstname {
    }

    .name .lastname {
        text-transform: uppercase;
        font-weight: 600;
    }

.person-content {
    display: flex;
    margin-top: 1rem;
    gap: 2rem;
    align-items: start;
    flex-wrap: wrap;
}
